doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Discocraphy Estimation Tool
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/sticky-footer-navbar.css')
  body
    block body